.calculator{
    border-radius: 0.4rem;
    height: 22rem;
    width: 16rem;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 3rem 3rem 3rem 3rem;
}