@font-face {
  font-family: 'Roboto';
  src: url(./main/fonts/Roboto-Thin.ttf);
}

body{
  align-items: center;
  background: linear-gradient(to right, rgb(53, 92, 125), rgb(108, 91, 123), rgb(192, 108, 132));
  color: white;
  display: flex;
  font-family: 'Roboto', monospace;
  justify-content: center;
  text-align: center;
}